html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #ff5757;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a0f0f;
}

.board {
    height: 350px;
    width: 350px;
    /* background: #6d222283; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border-bottom: 5px solid #6a0f0f;
    border-right: 5px solid #6a0f0f;
    font-size: 60px;
    text-align: center;
    line-height: 110px;
    cursor: pointer;
    user-select: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.highlight {
    background: #b81818d5;
}